/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: rgb(112,173,71);
}
a:hover {
    color: rgb(112,173,71);
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/* navbar
-------------------------------------------------- */
.dropdown-menu {
    margin: .7rem 0 0 !important;
}

.dropdown-item {
    padding: .25rem 1rem;
    color: rgb(90,90,90);
}

    .dropdown-item i {
        padding: 0 .6rem 0 0;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar {
    background-color: rgb(112,173,71) !important;
    padding: .35rem .35rem !important;
}

.navbar-brand {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.nav-link {
    font-family: roboto;
    color: white !important;
    padding: 0px 25px 0px 0px !important;
}

.nav-item {
    vertical-align: baseline !important;
}

#profile-nav {
    max-width: 2.4rem;
    border-radius: 50%;
    outline: .2rem solid rgb(200, 200, 200);
    outline-offset: -.1rem;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Roboto;
}

h1 {
    text-align: center !important;
    font-weight: lighter;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#img-logo {
    max-width: 2.7rem;
    height: auto;
}

/* Search button
-------------------------------------------------- */
.search-button {
    background-color: white;
    border: 1px solid rgb(230,230,230);
    color: rgb(128 128 128);
    padding: 4px 30px 6px 30px;
    font-size: 16px;
    margin-top: 20px;
    cursor: text !important;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgb(240,240,240);
}

.search-container {
    text-align: center;
}

    .search-container i {
        padding: 0 5px 0 0;
    }

/* Offre flex  box*/
.Offre-container {
    display: flex;
    flex-direction: column;
}

.box-offre {
    display: flex;
    margin: 10px;
    border: 1px solid rgb(230,230,230);
    box-shadow: 0px 0px 3px 2px rgb(240,240,240);
    border-radius: 6px;
    flex-direction: row;
}


.box-clickable:hover {
    background-color: rgb(250,250,250);
}

.box-offre-link {
    color: black;
}
.box-offre-link:hover {
    color: black;
}


.img-offre {
}

.offre-thumbnail {
    width: 250px;
    border-radius: 10px 0 0 10px;
    height: 180px;
}

.info-offre {
    padding: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}

.img-offre-thumbnail-profil {
    max-width: 2rem;
    border-radius: 50%;
    outline-offset: -.1rem;
}

.icon {
    width: 25px;
    opacity: 25%;
}

.icon-list {
    width: 19px;
    opacity: 25%;
}

.en-tete-offre {
    flex: 3;
}

.info-footer {
    display: flex;
    padding-right: 10px;
    flex-direction: row;
    flex: 1;
}

.description {
    flex: 2;
    padding-top: 8px;
}

.info-footer > div {
    color: rgb(180 180 180);
    margin: 10px;
}

div.info-footer i, img {
    margin-right: 5px;
}

div.description p {
    color: rgb(128, 128, 128);
    font-size: .9rem;
}
/*module de recherche*/
select, input {
    min-width: 100px;
    max-width: 300px;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
}

h3 {
}

.box-boutons {
    text-align: center;
}

button {
    margin: 10px;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

                /* Utilisateur détails*/
.box-profil {
    display: flex;
    flex-direction: row;
}


.img-profil {
    max-width: 8rem;
    border-radius: 50%;
    outline-offset: -.1rem;
}
.info-utilisateur {
    padding: 10px;
    margin-left: 15px;
}
.box-presentation {
    margin: 20px 0 20px 0;
}
.box-description {
    border: 1px solid rgb(230,230,230);
    box-shadow: 0px 0px 3px 2px rgb(240,240,240);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.liste-detail-eleveur {
    list-style-type: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close-modal:hover,
    .close-modal:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.box-offre-details {
    display: flex;
    flex-direction: row;
}

.box-offre-details-header {
    display: flex;
    flex-direction: column;
    margin-top: -.5em;
    text-align: center;
    margin-bottom: 0.7em;
}

    .box-offre-details-header i {
        color: orange;
    }

.offre-details-main {
    width: 70%;
}

.offre-details-tarif {
    width: 30%;
}

.tarif {
    width: 100%;
}

.tarif .prix {
    text-align: right;
    padding-right: .5em;
}
.tarif .total {

}

.details-photo {
    width: 100%;
    text-align: left;
}

    .details-photo img {
        height: 10rem;
        margin: .2rem;
    }

a:hover {
    text-decoration: none;
}

table.offre-features > img,i {
    text-align: center;
}
.offre-features {
    color: rgb(180 180 180);
}

.details-photo img {
    height: 6em;
}


/* Search result page*/
.div-search {
    background-color: white;
    border: 1px solid rgb(230,230,230);
    color: rgb(128 128 128);
    padding: 4px 30px 6px 30px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgb(240,240,240);
}
.terrain-select-search {
    border: 0px !important;
}
.search-bar{
    display: flex;
    flex-direction: row;
}

.info-offre input {
    margin-bottom: 1em;
}
input[type=date] {
    max-width: 10rem;
}

/*ESSAI DES STARS */

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}

.box-evaluation i {
    color: orange;
}