<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tontapat</title>
    <script type="module" src="/js/site.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/5a8f586ef3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="img-logo" src="~/img/logo_tontapat.png" asp-area="" asp-controller="Home" asp-action="Index" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Offre" asp-action="Index">Offres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Découvrir</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Prestation" asp-action="Index">
                                <i class="far fa-calendar-alt fa-lg" title="Mes prestations"></i>
                            </a>
                        </li>
                        <li class="nav-item">

                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-lg" title="Notifications"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-file-alt"></i>Votre prestation a été mise à jour.
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-pen-alt"></i>Robert vous a envoyé une contre-proposition.
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-check"></i>Robert a accepté votre demande de réservation.
                                    </a>


                                </div>
                            </div>


                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="fas fa-comment-alt fa-lg" title="Mes messages"></i>
                            </a>
                        </li>



                        <!--
           <div class="dropdown">
               <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                   <img id="profile-nav" src="~/img/profile/1.png" asp-area="" asp-controller="Home" asp-action="Index" />

                   <i class="fa fa-caret-down"></i>
               </a>
               <div class="dropdown-content">
                   <a href="#">Link 1</a>
                   <a href="#">Link 2</a>
                   <a href="#">Link 3</a>
               </div>
           </div>
        -->
                    </ul>

                    

                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="profile-nav" src="~/img/photos/profile/1.png" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Terrain" asp-action="Index" asp-route-id="1">
                                <i class="fa fa-leaf"></i>Mes terrains
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="Troupeau" asp-action="Index" asp-route-id="1">
                                <i class="fa fa-horse-head"></i>Mes troupeaux
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-euro-sign"></i> Mes offres
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="Utilisateur" asp-action="Profil" asp-route-id="1">
                                <i class="fa fa-user-alt"></i>Mon profil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="#">
                                <i class="fa fa-times"></i>Se déconnecter
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </nav>
        <div class="search-container">
            <a asp-area="" asp-controller="Offre" asp-action="Recherche">
            <button class="search-button" id="Search-modal-button">
                <i class="fa fa-search"></i>Rechercher une prestation
            </button>
            </a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <!-- DEBUT RECHERCHE
    <div id="Search-modal" class="modal">

            <div class="modal-content">
                <span class="close-modal"></span>"
        <h1>Rechercher une prestation</h1>

        <form method="get" id="recherche">
            <div class="box-offre">
                <div class="info-offre">
                    <h3>Sélectionnez le lieu de la prestation</h3>


                    <label for="terrain">Votre terrain :</label>
                    <select name="terrain" id="terrain-select">
                        foreach (Terrain t in ViewBag.Terrains)
                        {
                            <option value="t.Id">t.Nom</option>
                        }

                    </select>
                    <label for="aire-recherche">Aire de recherche :</label>
                    <input type="range" min="5" max="200" step="1" list="aire-recherche-list" name="aire-recherche" />
                    <datalist id="aire-recherche-list">
                        <option value="5" label="5km"></option>
                        <option value="200" label="200km"></option>
                    </datalist>
                    <i class="far fa-question-circle" title="Ce critère permet de définir à quelle distance maximale de votre terrain vous souhaitez rechercher une prestation."></i>
                </div>
            </div>

            <div class="box-offre">
                <div class="info-offre">
                    <h3>Sélectionnez les détails de la prestation</h3>

                    <p>
                        <label for="espece">Type de bétail :</label>
                        <select name="espece" id="espece-select">
                            <option value="">Tous</option>
                            foreach (Espece e in ViewBag.Especes)
                            {
                                <option value="e.Id">e.Nom</option>
                            }
                        </select>

                        <label for="tonte">Type de tonte :</label>
                        <select name="tonte" id="tonte-select">
                            <option value="">Toutes tontes</option>
                            foreach (TypeTonte tt in ViewBag.TypesTonte)
                            {
                                <option value="tt.CoefRapidite">tt.Nom</option>
                            }
                        </select>
                        <i class="far fa-question-circle" title="Le type de tonte concerne la vitesse à laquelle votre terrain sera tondu. Il influe sur le nombre de bêtes présent sur votre terrain et la date de fin de la prestation."></i>
                    </p>
                    <p>
                        <label for="installation">Type d'installation :</label>
                        <select name="installation" id="installation-select">
                            <option value="-1">Peu importe</option>
                            <option value="">À la charge de l'éleveur</option>
                            <option value="">À votre charge</option>

                        </select>
                        <i class="far fa-question-circle" title="Le type d'installation définit à qui revient la charge d'installer les infrastructures nécessaires à la prestation (clôtures, abris, abreuvoirs...)"></i>

                        <label for="freqintervention">Fréquence d'intervention :</label>
                        <select name="freqintervention" id="freqintervention-select">
                            <option value="0">Peu importe</option>
                            foreach (FreqIntervention fi in ViewBag.FreqsIntervention)
                            {
                                <option value="1">Tous les jours</option>
                            }

                            })
                        </select>
                        <i class="far fa-question-circle" title="La fréquence d'intervention définit l'intervalle de temps entre laquelle l'éleveur se rendra sur votre terrain pour effectuer ses vérifications."></i>

                    </p>

                </div>
            </div>

            <div class="box-offre">
                <div class="info-offre">
                    <h3>Choisissez votre date de début</h3>
                    <label for="datedebut">Date de début :</label>
                    <input type="date" id="datedebut" name="datedebut"
                           value="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")"
                           min="@DateTime.Today.AddDays(2).ToString("yyyy-MM-dd")" />

                    <label for="datefin">Date de fin :</label>
                    <input type="date" id="datefin" name="datefin"
                           value="2021-12-31" disabled />
                    <i class="far fa-question-circle" title="La date de fin est calculée à partir de la superficie de votre terrain et le type de tonte que vous sélectionnez."></i>

                </div>
            </div>
            <div class="box-boutons">
                <button class="btn-success" type="submit" form="recherche" value="submit">Rechercher des prestations</button>
                <button class="btn-danger" type="reset" form="recherche" value="reset">Réinitialiser la recherche</button>
            </div>

        </form>

    </div>
    </div>
    FIN RECHERCHE-->

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PresentationWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
