@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="display:flex; flex-direction:column; text-align:center;">
    <div>
        <h1 style="margin-top: 20px; font-weight:bold; ">C'est notéééééé</h1>
        <div style="margin-top 15 px;">
            <a class="btn btn-primary" role="button" asp-controller="Terrain" asp-action="Index" asp-route-id="1">Mes terrains</a>
        </div>
        <img style="max-width: 60%; height:auto;" src="~/img/success_sheep.jpg" />
    </div>
</div>
