

    <div class="home-header">
        <div class="pt-5" id="home-title">
            <div class="py-5 mt-5">
                <h1 class="display-4">Découvrez l'éco-pâturage avec Tontapat</h1>
            </div>
        </div>
        <div id="home-img">
            <img class="decouv-image" src="~/img/eco-paturage.png" alt="">
        </div>
    </div>

    <div id="A-propos">
        <h1>A propos</h1>
        Cette pratique ancestrale, progressivement abandonnée au profit de méthodes mécaniques et chimiques, revient en force en milieu urbain ou péri-urbain pour entretenir les espaces verts dans une optique de développement durable. Le principe est simple puisqu’il s’agit d’implanter des animaux sur les espaces verts à entretenir. Ovins, bovins, caprins ou équins en se nourrissant viennent à bout des végétaux de tout type.
        <br />
        Tontapat est une platforme qui met en relation des éleveurs ayant un troupeau et des clients souhaitants  tondre leurs espaces verts. Elle propose une organisation de la prestation et un cadrage de la tarification. Elle établit également un service de communication entre les intervenants afin d'assurer le bon déroulement des prestations.
        <br />
        Que vous soyez éleveur ou client, Tontapat est faite pour vous!
    </div>

    <div id="Temoignages">
        <div class="card-container">
            <div class="card" id="t1">
                <div class="card-image">
                    <img class="img-fluid card-img" src="~/img/photos/profile/3.png" />
                </div>
                <div class="card-body">
                    <h5>Robert</h5>
                    <p>"Grâce à Tontapat, mon troupeau a trouvé son bonheur en ville, et moi aussi... J'ai assuré plusieurs prestations, les clients ont souvent du mal à se séparer de mes bêtes"</p>
                </div>
            </div>
            <div class="card" id="t2">
                <div class="card-image">
                    <img class="img-fluid card-img" src="~/img/photos/profile/15.png" />
                </div>
                <div class="card-body">
                    <h5>Jean-Billou</h5>
                    <p>"Dans ma société de services informatiques, ça fait du bien des fois d'abandonner la technologie et se connecter avec la campagne. Nous n'avons pas trouver mieux que Tontapat pour tondre notre belle pelouse.. Le service est juste impéccable, je vous le conseille fortement. "</p>
                </div>
            </div>
            <div class="card" id="t3">
                <div class="card-image">
                    <img class="img-fluid card-img" src="~/img/photos/profile/6.png" />
                </div>
                <div class="card-body">
                    <h5>Stacy</h5>
                    <p>"L'écopaturage a été ma porte de sortie d'une vie de débauche passée au fond des cars Mobigo  de la ligne Culmont-Chalindrey Dijon direction le Beverly où mon ex Brayane vendait de la drogue. C'est simple, mes chèvres m'ont sauvées la vie !"</p>
                </div>
            </div>
        </div>


    </div>

    

