@using Fr.EQL.AI109.Tontapat.Model
@model PropositionDetail
<form method="post">
    <h1>Annuler une proposition</h1>
    <div class="box-offre">
        @*    <div class="info-offre">*@
        <div class="action-confirmation">
            <p>Êtes-vous sûr(e) de vouloir annuler la proposition ?</p>
            <p>L'éleveur ne l'a pas encore validée ou refusée, vous pourrez toujours en proposer d'autres.</p>

        </div>
    </div>
    <div class="box-boutons">
        <button class="btn btn-success" type="submit">Annuler la proposition</button>
        <button class="btn btn-danger" type="reset">Conserver la proposition</button>

    </div>
</form>