<h1>La proposition a été annulée.</h1>
<div class="box-offre">
    @*    <div class="info-offre">*@
    <div class="action-confirmation">
<p>Vous pouvez toujours proposer de nouvelles modifications sur la prestation.</p>
        @*        </div>*@
    </div>
</div>
<div class="box-boutons">
    <a class="btn btn-success" asp-controller="Prestation" asp-action="Details" asp-route-id="@ViewBag.Prestation.Id">Voir ma prestation</a>
</div>
