@{
    ViewData["Title"] = "La prestation a bien été annulée";
}
<h1>La prestation a été annulée.</h1>
<div class="box-offre">
    @*    <div class="info-offre">*@
    <div class="action-confirmation">
        <img class="img-action-logo" src="~/img/tontapat_sad.png" />
        <p>Tout l'espoir, tous les rêves que les petites bêtes du troupeau nourrissaient sont partis en fumée.</p>
        @*        </div>*@
    </div>
</div>
<div class="box-boutons">
    <a class="btn btn-success" asp-controller="Prestation" asp-action="Index">C'est bien, voir mes prestations</a>
</div>
