@{
    ViewData["Title"] = "Evaluation bien prise en compte";
}

<h1>Votre évaluation a bien été prise en compte.</h1>
<div class="box-offre">
    <div class="action-confirmation">
        <img class="img-action-logo" src="~/img/tontapat_stars.png" />
        <p>
            Votre évaluation a bien été prise en compte.
        </p>
    </div>
</div>
<div class="box-boutons">
    <a class="btn btn-info" asp-controller="Offre" asp-action="Index">Trouver plus d'offres</a>
</div>
