@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="recap">
    <div class="en-tete-recap">
        <div class="titre-recap">
            <h2>Récapitulatif de la réservation de votre prestation</h2>
        </div>
        <div class="ref-recap">
            <h5>Numéro de réservation</h5>
        </div>
    </div>
    <div class="corps-recap">
        <div class="info-client">
            <h6>Détails client</h6>
            <ul>
                <li>
                    Nom client:
                </li>
                <li>
                    Prénom client:
                </li>
                <li>
                    Nom Terrain:
                </li>
                <li>
                    Adresse Terrain:
                </li>
            </ul>

        </div>
        <div class="info-eleveur">
            <h6>Détails Eleveur</h6>
            <ul>
                <li>
                    Nom Eleveur:
                </li>
                <li>
                    Prénom Eleveur:
                </li>
                <li>
                    Nom Offre:
                </li>
                <li>
                    Adresse Troupeau:
                </li>
            </ul>
        </div>
        <div class="info-prestation">
            <h6>Détails Prestation</h6>
            <ul>
                <li>
                    Date de début:
                </li>
                <li>
                    Date de fin:
                </li>
                <li>
                    Nombre de bêtes:
                </li>
                <li>
                    Fréquence d'intervention:
                </li>
                <li>
                    Prix Total :
                    <ul>
                        <li>
                            Prix d'installation de clôture :
                        </li>
                        <li>
                            Prix d'installation du bétail :
                        </li>
                        <li>
                            Frais de bétail :
                        </li>
                        <li>
                            Frais d'intervention :
                        </li>
                        <li>
                            Frais de service (10%) :
                        </li>
                        <li>
                            TVA (20%) :
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</div>
    <div class="recap-validation box-boutons">
        <button class="btn-validation-reca btn-success">Valider et payer</button>
        <button class="retour-ver-offre btn-danger">Retour à l'offre</button>
    </div>
    
